body {
  	width: 100%; 
  	height: 100%;
  	margin-top: 0px;
  	margin-left: 0px;
  	font-family: arial;
  }


nav {
	padding-left: 60px;
	margin-right: 30px;
	width: 100%;
	background-color: #96bbf7;
	height: 60px;
}

.logo {
	float: left;
	display:inline-block;
    height: 50px;
  	margin-top: 12px;
  	margin-bottom: 5px;
  	margin-left: -30px;
  	border-radius: 50%;
  	font-size: 30px;
}

.links {
	float:right;
	margin-top: 13px;
	margin-right: 90px;
	display:inline-block;
	font-size: 25px;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a:hover {
  color: black;
}

nav a:link {
	color: purple;
}

.find {
  	font-size: 15px;
  	margin-top: 15px;
  	width: 500px;
  	height: 40px;
}

input {
	border-radius: 3px;
	border: 1px solid #96bbf7;
	height: 30px;
	width: 450px;
	padding-top: 15px;
	font-size: 20px;
	display: inline-block;

}

.magni {
	border-radius: 3px;
	border: 1px solid #96bbf7;
	height: 28px;
	margin-top: 20px;
	padding-top: 0px;
	display: inline-block;
}

.pre {
	width: 65px;
	height: 20px;
	border-radius: 3px 0px 0px 3px;
	border: 1px solid #96bbf7;
	margin-left: 100px;
	padding-top: 3px;
	text-align: center;
	display: inline-block;
}

.cur {
	width: 180px;
	height: 20px;
	border-radius: 0px 0px 0px 0px;
	border: 1px solid #96bbf7;
	padding-top: 3px;
	text-align: center;
	display: inline-block;
}

.nex {
	width: 65px;
	height: 20px;
	border-radius: 0px 3px 3px 0px;
	border: 1px solid #96bbf7;
	padding-top: 3px;
	text-align: center;
	display: inline-block;
}

.pagenav {
	margin-top: 30px;
}
.search {
	margin-top: 30px;
	margin-left: -120px;
	display: inline-block;
}
.icon {
	margin-top: 30px;
	display: inline-block;
}

.joblist {
	width: 80%;
	margin-top: 30px;
	margin-left: 60px;
}

.date{
	color: #96bbf7;
	display: inline-block;
}

.job {
	color: blue;
	display: inline-block;
	font-weight: bold;
	font-size: 24px;
}

.place{
	color: #96bbf7;
	display: inline-block;
}

.jobsing {
	width: 800px;
	margin-top: 10px;
	margin-left: 40px;
}
